<component name="ArtifactManager">
  <artifact type="war" name="springrestservice:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springrestservice-1.3.0.RELEASE.war">
      <element id="artifact" artifact-name="springrestservice:war exploded" />
    </root>
  </artifact>
</component>